.header{
    /* width: 100%; */
    color: rgb(59, 61, 73);
    background-color: rgb(238, 237, 247);
    padding: 5px 35px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.header h4{
    /* margin-top: 0px; */
    font-family:cursive;
    font-weight: 400;
    color: red;
    text-decoration: underline;
}