
.gallary-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* gap: 0.725rem; */
  gap: 8px;
  /* padding: 1.5rem; */
  padding: 15px;
}

.grid-item {
    border: 1px solid #00000040;
    text-align: center;  
    border-radius: 7px;
    /* margin: 1px 0px; */
    width: 254px;
    height: 158px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
  
  .wide {
    grid-row: span 2;
    grid-column: span 2;
    width: 522px;
    height: 326px;
  }

.add-item{
    border: 1px solid #00000040;
    text-align: center;  
    border-radius: 7px;
    /* margin: 2px; */
    width: 80%;
    height: 80%;
}
  

/* media query for mobile */
@media screen and (max-width:640px){
    .gallary-container{
        display: block;
        position: relative;
        grid-template-columns:1 1fr;
    }
    .image-container{
        position: relative;
        top: 300px;
        grid-template-columns: repeat(1,1fr);
    }

}