
.image-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.750rem;
  padding: 1.5rem
}

.grid-item {
  border: 1px solid #878787;
  border-radius: 7px;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.grid-item img{
  width: 100%;
  height: 100%;
  border-radius:7px;
}

.wide {
  grid-row: span 2;
  grid-column: span 2;
 
}

.wide img{
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.checkbox-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(151 151 156 / 52%); 
  text-align: left;
  border-radius: 7px;
}
 
.grid-item .checkbox-container {
  width: 100%;
  height: 100%;
}

.wide .checkbox-container {
  width: 100%;
  height: 100%;
}

.checkbox-container input {
  margin-right: 5px;
}

.simple-card {
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center; 
  border: 3px dotted #878787; 
  border-radius: 7px;

}
.simple-card button{
  border: none;
  background: transparent;
}
.add-image{
  height: 40px;
  width: 50px;
}


/* Media query for tablets (768px width and below) */
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
  .grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item .wide {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .grid-item img {
    width: 100%;
    height: 100%;
  }
}

/* Media query for mobile phones (480px width and below) */
@media (max-width: 480px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
  .grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item .wide {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .grid-item img {
    width: 100%;
    height: 100%;
  }
}

