.product{
    border: 1px solid rgb(216, 160, 171);
    border-radius: 5px;
    padding: 3px;
    margin: 15px;
    background-color: bisque;
}
.product img{
    border-radius: 5px;
    height: 220px;
    width: 280px;
    margin-bottom: 5px;
}


.product:hover{
   background-color:rgb(104, 91, 86);
}